//test file

.tiny {
  padding: 10px;
  display: flex;
  font-size: 1rem;
  background-color: rgb(245, 242, 216);
  justify-content: space-evenly;
  align-items: center;

  img {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    width: 15%;
  }

  .name {
    font-size: 2em;
  }

  .email {
    color: rgb(116, 116, 116);
  }

  .userInfo {
    display: flex;
    flex-wrap: wrap;
    
    flex-direction: column;
    align-items: flex-end;
  }
}
